theme = Aardvark Blue

# aesthetics
background-opacity = 0.97
background-blur = 16
macos-titlebar-style = transparent
cursor-color = #FF00FF
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor
adjust-cursor-thickness = 3

# typography
font-family = "Berkeley Mono"
macos-option-as-alt = false   # needed to keep em-dash from turning into s-tsett
# font-size=10
# font-thicken=true
# font-thicken-strength=1
# adjust-cell-height=1
font-feature = -liga

window-width = 85
window-height = 30

keybind = cmd+s=ignore    # keeps save tick from creating 
